{{>layout/admin/admin_header}}
<link rel="stylesheet" href="/css/admin/member-mng.css">
<div class="background container-fluid">

    <h4 class="mx-20">Summary</h4>
    <div class="container">
        <div class="row">
            <!--col section 01-->
            <div class="col m-2">
                <span class="font-weight-bold  m-2"> NEW (지난 7일 기준) </span>
                <ul>
                    <li>방문자</li>
                    <li>가입</li>
                    <li>글</li>
                    <li>댓글</li>
                    <li>문의</li>

                </ul>
            </div>
            <!--col section 02-->
            <div class="col m-2">
                <span class="font-weight-bold m-2">관리자 정보</span>
                <ul>
                    <li>이름</li>
                    <li>이메일</li>
                    <li>가입일</li>
                </ul>

                <a href="" class="text-muted">운영진 설정</a>
            </div>
            <div class="w-100"></div> <!--Create equal-width columns that span multiple rows -->
            <!--col section 03-->
            <div class="col m-2">
                <span class="font-weight-bold  m-2">최근 게시글</span>
                <ul>
                    <li>어저구 날짜</li>
                    <li>어저구 날짜</li>
                    <li>어저구 날짜</li>
                </ul>
                <a href="" class="text-muted">▶ 더보기</a>
            </div>
            <!--col section 04-->
            <div class="col m-2">
                <span class="font-weight-bold m-2">인기 급상승 그룹/가수</span>
                <ol>
                    <li>뫄뫄</li>
                    <li>와와</li>
                    <li>롸롸</li>
                </ol>
            </div>
            <div class="w-100"></div> <!--Create equal-width columns that span multiple rows -->
            <!--col section 05-->
            <div class="col m-2" >
                <span class="font-weight-bold m-2">최근 댓글</span>
                <ul>
                    <li>어저구 날짜</li>
                    <li>어저구 날짜</li>
                    <li>어저구 날짜</li>
                </ul>

                <a href="" class="text-muted">▶ 더보기</a>
            </div>
            <!--col section 06-->
            <div class="col m-2">
                <span class="font-weight-bold m-2">최근 문의 내역</span>
                <ul>
                    <li>어저구 날짜</li>
                    <li>어저구 날짜</li>
                    <li>어저구 날짜</li>
                </ul>
                <a href="" class="text-muted">▶ 더보기</a>
            </div>
        </div>
    </div>

</div>

{{>layout/footer}}