<!DOCTYPE HTML>
<html>
<head>
    <title>관리자페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--header.css 추가-->
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/basic.css">
    <link rel="stylesheet" href="/css/guest/board.css">
</head>
<body>

<div class="container main" >
    <!--상단 메뉴바 -->
    <header>
        <!--로고, 검색, 로그인, 회원가입, 고객센터, 찜하기-->
        <div class="row">
            <!--로고-->
            <div class="col-sm-2 m-5" id="logo">
                <h2><a href=""><img src="/image/admin/temp-logo.png" id="logo-img"></a></h2>
                <h6>Admin</h6>
            </div>
            <!--검색-->
            <div>
                <div class="m-5" id="searchWrap">
                    <form>
                        <div>
                            <input type="text" spellcheck="false" class="searchForm" autocomplete="off" placeholder="검색어를 입력해주세요." value> <button type="submit" class="btn btn-secondary btn-sm m-1">검색</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--왼쪽 상단 (로그인, 회원가입, 고객센터, 찜하기)-->
            <div class="">
                <ul class="side_ul">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">Admin Home</a>
                    </li>
                    <li>
                        <a href="/member/login">로그인</a>
                    </li>
                    <li>
                        <a href="/admin/member">로그아웃</a>
                    </li>

                </ul>
            </div>
        </div>
        <div>
        <ul class="menu_ul nav-tabs nav justify-content-center">

            <li class="nav-item"><a href="" class="nav-link">Summary</a></li>
            <li class="nav-item"><a href="/admin/member-mng" class="nav-link">Member</a></li>
            <li class="nav-item dropdown">
                <a href="" class="nav-link  dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" >Board</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">게시글 관리</a></li>
                    <li><a class="dropdown-item" href="#">게시판 메뉴 관리</a></li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href=""  class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" >Customer Service</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">공지사항</a></li>
                    <li><a class="dropdown-item" href="#">문의하기</a></li>

                </ul>
            </li>

        </ul>
        </div>
</header>
</div>
