<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Logo</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Team : pinkblood</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>대표메일 : </a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>통신판매업신고 :  임시</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>사업자등록번호 : 임시</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>저희 사이트에서는 고객님의 결제에 관한 모든 법적인 책임을 지지 않습니다.</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/member/login"><i class="fa fa-angle-double-right"></i>로그인</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>마이페이지</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>고객센터</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>문의하기</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">© All right Reversed. <a class="text-green ml-2" href="" target="_blank">Logo</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->

<!-- cdn -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- pagination -->
<script type="text/javascript" src="/js/common/jquery.twbsPagination.js"/>
<!-- font -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
<!-- add js -->
<script src="/js/index.js"></script>
<script src="/js/guest/board.js"></script>
<!-- add css -->
<link rel="stylesheet" href="/css/common/footer.css">


</body>
</html>