/* board navigation */
.board_navi {
  width: 800px; height: auto;
  background: red;
}
.navi_style {
  width: 800px; height: auto;
  margin: 0 auto; padding: 0;
  border: 1px solid #fff;
}
.navi_style>li {
  list-style: none;
  float: left;
  margin: 0 auto; padding: 0;
  border-radius: 20px;
  background-color: #fff;
}

/* cate CSS */
.cate_box {
  width: 770px;
  height: 40px;
  margin-left: 30px;
}
.cate_phoca, .cate_goods {
  width: 800px;
  height: 40px;
  line-height: 40px;
}
.cate_phoca {
  font-weight: bold;
  font-size: 18px;
}
.cate_goods {
  color: #606060;
}

/* product img */
.product_imgbox {
  width: 256px;
  height: 300px;
  overflow: hidden;
  margin: 0;
}
.product_img {
  width: 100%; height: 100%;
  border-radius: 30px;
}
.product_title {
  margin: 10px auto; padding: 0;
}
.product_title>li{
  list-style: none;
  width: 200px; height: 25px;
  margin: 0 auto;
}
.product_title>li:first-child {
  font-size: 17px;
  margin-bottom: 8px;
}
.product_title>li:nth-child(2), .product_title>li:last-of-type {
  text-align: right;
   margin: 0 auto;
}
.product_title>li:last-child {
  text-overflow: ellipsis;
}
.cate_fnt {
  color: gray;
  font-size: 13px;
}
.title_fnt {
  font-weight: bold;
  font-size: 17px;
}

/* board list CSS */
.board_navi {
  width: 800px;
  height: 150px;
  margin: 0 auto;
  padding: 0;
  background: lightBlue;
}

.group_navi > li {
  border-radius: 10px 100px / 120px;
  width: 180px;  height: 150px;
  margin: 0 5px;
  padding: 0;
  background: lightGreen;
}

.sub_navi {
  width: 800px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  background: pink;
  display: none;
}

.sub_navi>li {
  width: 120px;
  height: 120px;
  list-style: none;
  float: left;
  border-radius: 50%;
  margin: 0 5px;
  padding: 0;
  background: red;
}

.list_container {
  width: 800px;
  height: 100%;
  margin: 100px auto;
  padding: 0;
  background: lightYellow;
}

.board_list {
  width: 800px;
  overflow: auto;
}

.board_list>li {
  width: 255px;
  height: 410px;
  background: lightGreen;
  list-style: none;
  float: left;
  margin: 5px;
  padding: 0;
}

/* write button */
.prod_btn_con {
  width: 800px; height: 40px;
  margin-top: 30px;
}
#prod_write {
  margin-left: 620px;
  width: 160px; height: 40px;
  text-height: 30px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  border-radius: 20px;
}


/* board detail CSS */
.contact_style>li {
  list-style: none;
  float: left;
  margin: 0 auto; padding: 0;
  border-radius: 20px;
  background-color: #fff;
}

.prod_detail {
  width: 800px; height: 500px;
  margin-bottom: 30px;
}
.prod_pic {
  width: 400px; height: 100%;
  background-color: pink;
  float:left;
}
.prod_pic>img {
  /* 100%로 하니까 이미지가 넘침, 해결필요 */
  width: 380px; height: 96%;
  margin: 10px;
  border-radius: 10px;
}
.prod_content {
  width: 400px; height: 500px;
  margin: 0 auto;
  background-color: green;
  float: left;
}

.cont_extra {
  width: 800px; height: auto;
  background-color: lightgoldenrodyellow;
}
