.container{margin-bottom:20px;}
.background{margin-top:30px;}
/*detail setting*/
.search {
    top: 6px;
    left: 10px
}

.form-control {
    border: none;
    padding-left: 32px
}

.form-control:focus {
    border: none;
    box-shadow: none
}

.green {
    color: green
}
/*table setting*/
.table{
    margin:0 auto;
    padding:0;
}
.table td{
    text-align:center;
}
.table-image {
  td, th {
    vertical-align: middle;
  }
}
/*div category setting*/
.box{
    border:1px solid gray;
    width:100%;
    min-height:50px;
    margin-bottom:50px;
    padding : 10px;
}
.inbox{
    width:80%
    border-top:1px solid gray;
    min-height:100px;
}
.inbox ul{
    list-style: none;
}
.inbox ul>li{
    float:left;
    padding:10px;
}
.inbox ul>li a { font-size:xx-small;
             color:black;}

/*board/ comments/ inquiry  li setting */
/*board*/
.board{margin-top:10px;}
.board li{
	width:5%; height:30px; line-height:30px; border-bottom:1px solid lightgray; float: left;
	text-align:center;
	}
.board li:nth-child(8n+3){width:10%; text-align:left;}
.board li:nth-child(7n+2) a{color:black; }

/*comments*/
.comments{margin-top:10px;}
.comments li{
	width:10%; height:30px; line-height:30px; border-bottom:1px solid lightgray; float: left;
	text-align:center;
	}

/*inquiry*/
.inquiry{margin-top:10px;}
.inquiry li{
	width:5%; height:30px; line-height:30px; border-bottom:1px solid lightgray; float: left;
	text-align:center;
	}