{{>layout/header}}
<div class="background">
    test test test
    <hr />
    <!-- full product frame -->
    <div class="clearfix prod_detail">
        <div class="prod_pic">
            <img src="https://m.media-amazon.com/images/I/71noGMUal1S._AC_SL1100_.jpg" alt="encanto" />
        </div>
        <div class="prod_content">
            <fieldset>
                <legend> product title </legend>
                <span>브루노언금(id)</span>
                <div>
                    <span>Encanto limited 포스터</span>
                    <div>
                        [판매] 디즈니 > 엘칸토
                    </div>
                    <div>10,000 원</div>
                    <div>
                        메가박스 이벤트 기간 100장 한정 포스터입니다.<br />
                        관심있으신 분 연락주세요.<br />
                        광화문역에서 거래 또는<br />
                        반값택배 가능합니다 ^^
                    </div>
                </div>
            </fieldset>
            <p style=clear:both;></p>
            <div>
                <span>CONTACT</span>
                <ul class="contact_style">
                    <li>Kakao</li>
                    <li>Twitter</li>
                    <li>Line</li>
                </ul>
            </div>
        </div>

        <!-- full extra frame -->
        <p style=clear:both;></p>

        <div class="cont_extra">
            <div class="extra_1">
                <div class="cont_prev">
                    <span>이전글</span>
                </div>
                <div class="cont_next">
                    <span>다음글</span>
                </div>
            </div>
            <div>
                <span>관련상품</span>
                <ul>
                    <li>상품1</li>
                    <li>상품2</li>
                    <li>상품3</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{{>layout/footer}}