{{>layout/header}}
<div class="background">
    <!-- board_list_navi_bar -->
    <div class="board_navi">
        <ul class="clearfix group_navi navi_style">
            <li>group1
                <!--        <div id="test_img">
                                  group_list
                                </div> -->
            </li>
            <li>group 2</li>
            <li>group 3</li>
            <li>group 3</li>
        </ul>
        <ul class="clearfix sub_navi navi_style">
            <li>member 1</li>
            <li>member 2</li>
            <li>member 3</li>
            <li>member 4</li>
            <li>member 5</li>
        </ul>
    </div>

    <p style="clear:left"></p>


    <!-- board list -->
    <div class="list_container">
        <div class="cate_box">
            <span class="cate_phoca">포카</span>
            &nbsp;/&nbsp;
            <span class="cate_goods">굿즈</span>
        </div>

        <ul class="clearfix board_list navi_style">
            <li>
                <div class="product_imgbox">
                    <img class="product_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD-y_Dw-2YKzMZXGQLyBtnE5B_UFDo7Dbgyw&usqp=CAU" alt="test" />
                </div>
                <ul class="product_title">
                    <li><span class="cate_fnt">[판매]</span> ￦ 5000</li>
                    <li class="cate_fnt">몬스타엑스, 셔누</li>
                    <li class="title_fnt" style="background: red;">
                        THE CONNECT in SEOUL 123412341234123412341234123412341234
                        <!-- 초과 문자열 수정 작업이 필요함 -->
                    </li>
                </ul>
            </li>
            <li>상품 2</li>
            <li>상품 3</li>
            <li>상품 4</li>
            <li>상품 5</li>
            <li>상품 6</li>
            <li>상품 7</li>
            <li>상품 8</li>
            <li>상품 9</li>
        </ul>
    </div>

    <!-- pagenation -->
    <div>
        <ul class="pagination_div">
        </ul>
    </div>

    <!-- move to Write -->
    <div class="prod_btn_con">
        <button type="button" id="prod_write">내 포카&nbsp;/&nbsp;굿즈 등록</button>
    </div>

</div>


{{>layout/footer}}
