{{>layout/header}}
<link rel="stylesheet" href="/css/common/basic.css">
<!--join.css 추가-->
<link rel="stylesheet" href="/css/guest/login2.css">
<div class="background">
<div id="login">
        <main class="login-form">
            <div class="cotainer">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="main">
                            <div class="mx-15"><h3>로그인</h3></div>
                            <div class=" mx-3">
                                <form action="" method="">
                                    <div class="center-block btn-wrap">
                                        <div class="ask">별도의 회원가입없이 간편로그인으로 서비스를 이용하실 수 있습니다.</div>
                                        <!-- 로그인 영역 -->
                                        {{#userName}}
                                            Logged in as: <span id="user">{{userName}}</span>
                                            <a href="/logout" class="btn btn-info active" role="button">LogOut</a>
                                        {{/userName}}
                                        {{^userName}}
                                            <a href="/oauth2/authorization/google"  id="google-button" class="btn btn-block btn-social btn-google" role="button">
                                                <i class="fa fa-google"></i>    Sign in with Google
                                            </a>
                                            <a href="/oauth2/authorization/kakao" id="kakao-button" class="btn btn-block btn-social btn-kakao" role="button">
                                               <!-- <img src="../img/login/kakao_login.png" alt="Sign in with kakao"/>-->
                                                <i class="fa fa-Kakao"></i>    Sign in with Kakao
                                            </a>
                                            <a href="/oauth2/authorization/twitter" id="twitter-button" class="btn btn-block btn-social btn-twitter" role="button">
                                                <i class="fa fa-twitter"></i>   Sign in with Twitter
                                            </a>

                                        {{/userName}}


                                    </div>
                                    <div class="center-block">
                                        <a href="/member/user_find" class="btn btn-link ask" >
                                            계정을 잊으셨나요?
                                        </a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</main>
    </div>
</div>
{{>layout/footer}}
